<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JS Grid Table</title>

    <!-- ================= Favicon ================== -->

    <!-- Styles -->
    <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="assets/css/lib/jsgrid/jsgrid.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/unix.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body class="sidebar-hide">

<div class="sidebar">
    <div class="nano">
        <div class="nano-content">
            <ul>

                <li class="active"><a class="sidebar-sub-toggle"><i class="ti-home"></i> 教师管理 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/">添加教师</a></li>
                        <li><a href="/table-jsgrid.html">教师列表</a></li>

                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>教室管理</a>
                    <ul>
                        <li><a href="/addroom.html">添加教室</a></li>
                        <li><a href="/room.html">管理教室</a></li>

                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>班级管理</a>
                    <ul>
                        <li><a href="/addclass.html">添加班级</a></li>
                        <li><a href="/class.html">管理班级</a></li>

                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>课程管理</a>
                    <ul>
                        <li><a href="/curriculum.html">添加课程</a></li>
                        <li><a href="/class.html">管理课程</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div class="header">
    <div class="pull-left">
        <div class="logo"><a href="/"><span>排课系统</span></a></div>
        <div class="hamburger sidebar-toggle">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>

    <div class="pull-right p-r-15">
        <ul>


            <li class="header-icon dib"><img class="avatar-img" src="assets/images/avatar/1.jpg" alt="" /> <span class="user-avatar">john <i class="ti-angle-down f-s-10"></i></span>
                <div class="drop-down dropdown-profile">

                    <div class="dropdown-content-body">
                        <ul>

                            <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>





<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li class="active">Table-Jsgrid</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="jsgrid-table-panel">
                                <div id="jsGrid"></div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Refresh Dashboard</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- jquery vendor -->
<script>
    var rooms=[{{range $i,$v := .room}}
    {"Id":{{$v.Id}},"Name":{{$v.Name}},"Number":{{$v.Number}},"CollegeName":"{{$v.CollegeId}}-{{$v.CollegeName}}-{{$v.CampusName}}"},
    {{end }}];



    var college=[{{range $i,$v := .college}}
        {"Name":"{{$v.Id}}-{{$v.Name}}-{{$v.Name1}}"},
            {{end }}]
</script>
<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="assets/js/lib/menubar/sidebar.js"></script>
<script src="assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<script src="assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->



<!-- JS Grid Scripts Start-->
<script src="assets/js/lib/jsgrid/db1.js"></script>
<script src="assets/js/lib/jsgrid/jsgrid.core.js"></script>
<script src="assets/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
<script src="assets/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
<script src="assets/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
<script src="assets/js/lib/jsgrid/jsgrid.field.js"></script>
<script src="assets/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
<script src="assets/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
<script src="assets/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
<script src="assets/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
<script src="assets/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
<script src="assets/js/lib/jsgrid/jsgrid-init1.js"></script>
<!-- JS Grid Scripts End-->

<script src="assets/js/scripts.js"></script>
<!-- scripit init-->

</body>

</html>